[Desktop Entry]
Type=Application
Name=Disk Usage
Exec=foot dua i
Icon=dua
Terminal=false
Categories=Utility;System;
Comment=Disk usage analyzer (TUI)
